In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# load data
filepath = '..\\data\\silver\\'

# load geodata
parkRide_df = gpd.read_parquet(filepath + 'DimParkRide.parquet')
railLine_df = gpd.read_parquet(filepath + 'DimRailLine.parquet')
railStation_df = gpd.read_parquet(filepath + 'DimRailStation.parquet')
commArea_df = gpd.read_parquet(filepath + 'DimCommunityArea.parquet')

# load other data
stationEntries_df = pd.read_parquet(filepath + 'FactSTationEntries.parquet')

display(parkRide_df.head(), railLine_df.head(), railStation_df.head(), stationEntries_df.head())

,ParkRideName,geometry,StationName,RailLine,ADAAccessible,Spaces
0,Cumberland,POINT Z (-87.83747 41.98337 0),Cumberland,Blue Line,Yes,1633
1,Midway Airport,POINT Z (-87.73935 41.78521 0),Midway Airport,Orange Line,Yes,299
2,Garfield-South Elevated,POINT Z (-87.61875 41.79568 0),Garfield-South Elevated,Green Line,Yes,117
3,Kimball,POINT Z (-87.71251 41.96704 0),Kimball,Brown Line,Yes,73
4,54th/Cermak,POINT Z (-87.75739 41.85178 0),54th/Cermak,Pink Line,Yes,175

,SystemRoute,SystemRouteID,SystemRouteHexColor,LineName,geometry,Description,Type,Legend,Branch
0,Yellow,YL,#f9e300,Yellow Line,"MULTILINESTRING Z ((-87.6729 42.01907 0, -87.6...",Oakton-Skokie to Howard,Elevated or at Grade,YL,Yellow Line
1,Orange,OR,#f9461c,Orange Line,"MULTILINESTRING Z ((-87.70433 41.80436 0, -87....",Pulaski-Midway to Kedzie-Midway,Elevated or at Grade,OR,Orange Line
2,Blue,BL,#00a1de,Blue Line (O'Hare),"MULTILINESTRING Z ((-87.70855 41.92974 0, -87....",Belmont-O'Hare to Logan Square,Subway,BL,Blue Line O'Hare
3,Blue,BL,#00a1de,Blue Line (Forest Park),"MULTILINESTRING Z ((-87.68844 41.87554 0, -87....",Kedzie-Homan to Western-Congress,Elevated or at Grade,BL,Blue Line Forest Park
4,Pink,PK,#e27ea6,Pink Line,"MULTILINESTRING Z ((-87.66943 41.88525 0, -87....",Paulina Junction to Polk,Elevated or at Grade,PK,Pink Line

,StationID,StationName,geometry,RailLine,StationAddress,ADAAccessible,ParkAndRide
0,580,54th/Cermak,POINT Z (-87.7567 41.85178 0),Pink,2134 S. 54th Avenue,ADA Accessible,Yes
1,1680,Oakton-Skokie,POINT Z (-87.74723 42.02625 0),Yellow Line,4802 W Oakton,ADA Accessible,No
2,150,Pulaski,POINT Z (-87.72433 41.85386 0),Pink,2005 S. Pulaski Road,ADA Accessible,No
3,1020,Logan Square,POINT Z (-87.70855 41.92974 0),Blue Line,2620 N. Milwaukee Av,ADA Accessible,No
4,550,Irving Park,POINT Z (-87.72918 41.95295 0),Blue Line,4131 W. Irving Park Road,Not ADA Accessible,No

,StationID,Date,Rides,Year,Month,Day,YearMonth,MonthAbb,DayOfWeek,DayType
0,1280,2017-12-22,6104,2017,12,22,2017-12,Dec,Friday,W
1,1000,2017-12-18,3636,2017,12,18,2017-12,Dec,Monday,W
2,280,2017-12-02,1270,2017,12,2,2017-12,Dec,Saturday,A
3,140,2017-12-19,1759,2017,12,19,2017-12,Dec,Tuesday,W
4,690,2017-12-03,499,2017,12,3,2017-12,Dec,Sunday,U